.footer {
	grid-area: footer;
	background-color: green;
}

	.footer .footer-content {
    grid-area: footer-content;
  }

	@media (min-width: 600px) {.footer {
		background-color: pink
}
}

	@media (min-width: 990px) {

	.footer .footer-content {
      background-color: aliceblue
  }
}
