.footer {
	grid-area: footer;
	background-color: green;

	@media (width >= 600px) {
		background-color: pink;
	}

  .footer-content {
    grid-area: footer-content;

    @media (width >= 990px) {
      background-color: aliceblue;
    }
  }
}
