.postcss-nested li {
    right: var(--margin-default);
  }

    .postcss-nested li img {
      margin-right: var(--margin-default);
    }

    @media (min-width: 320px) {

    .postcss-nested li span {
        top: var(--margin-320)
    }

    .postcss-nested li strong {
        bottom: var(--margin-320)
    }
}

    @media (min-width: 640px) {.postcss-nested li {
      right: var(--margin-640)
  }

    .postcss-nested li img {
        margin-right: var(--margin-640)
    }
}
