.postcss-nested {
  li {
    right: var(--margin-default);

    @media (min-width: 640px) {
      right: var(--margin-640);
    }

    span {
      @media (min-width: 320px) {
        top: var(--margin-320);
      }
    }

    img {
      margin-right: var(--margin-default);

      @media (min-width: 640px) {
        margin-right: var(--margin-640);
      }
    }

    strong {
      @media (min-width: 320px) {
        bottom: var(--margin-320);
      }
    }
  }
}
